{% extends "blog/base.html" %}
{% block title %} Share a post {% endblock %}
<!---
1. Here we render the forms used to share our posts via email
2. It checks if the message has already been sent first
3. If sent=False, it renders the post_share form
4. Note that, there is no code for form display here because it has already been defined in our views and forms.py...
    This template just checks and renders
--->
{% block content %}
    {% if sent %}
        <h1>E-mail successfully sent</h1>
        <p>
            "{{ post.title }}" was successfully sent to {{ cd.to }}.
        </p>
    {% else %}
        <h1> Share "{{ post.title }}" by E-mail</h1>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" value="Send e-mail">
        </form>
    {% endif %}
{% endblock %}